body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
#barra{
    background-color: #BB0E10;
    position:sticky;
}
.offcanvas {
    max-width: 1500px; /* Cambia el porcentaje según tus necesidades */
  }
  
#cuerpo{
    background-color: #000;
    display: flex;
}
#cuerpo11 h1{
    align-content: center;
}
#cuerpo11{
    width: 80%;
    display: flex;
}
#cuerpo1 #renglon{
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding-left: 1%;
    margin-left: 1%;
}
#item{
    margin-top: 2%;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    margin-right: 5%;
    width: 95%;
}
#cuerpo1 #item .img-item{
    width: 100%;
}
#cuerpo1 #item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
#cuerpo1 #item .titulo-item{

    font-weight: bold;
    align-items: center;
    text-align: center;
    font-size: 15px;
}


#logo{
    color: #FECB00;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}
#btn-carrito
{
    background-color: #FECB00;
}
@media (max-width: 767px) 
{
    #cuerpo1 #renglon{
        padding-right: 5%;
    }

}
@media (max-width: 575px) 
{
    #cuerpo1 #renglon{
        padding-left: 10%;
    }

}
