*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Quicksand;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root
{
--main-color:#FECB00;
--text-color:#2A52D5;
--bg-color:#BB0E10;
--big-font:4rem;
--h2-font:2.25rem;
--p-font:0.9rem;
}
*::selection
{
    background: var(--main-color);
    color:#f2f2f2;
}
body{
    color:var(--text-color);
    background-color:#F2F2F2 ;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 10%;
    z-index: 1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: var(--bg-color);
}
.logo{
    color:var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
}
.navbar{
    display:flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}
.navbar a:hover{
    color:var(--main-color);
    transition: .4s;
}
#menu-icon{
    font-size: 2rem;
    cursor:pointer;
    display: none;
}
section{
padding: 70px 17%;
}
.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.home-img img{
    max-width: 100%;
    width: 600px;
    height: auto;
}
.home-text h1{
    font-size: var(--big-font);
    color: var(--main-color);
}
.home-text h2{
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background:var(--main-color);
    color: #F2F2F2;
    border-radius: 0.5rem;
}
.btn:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.about-img img{
    max-width: 100%;
    width: 400px;
    height: auto;
}
.about-text span{
    color:var(--main-color);
    font-weight: 600;
}
.about-text h2{
    font-size: var(--h2-font);
}
.about-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
}
.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,auto));
    grid-gap: 1.5rem;
    margin-top: 4rem;
}
.s-box{
    text-align: center;
    padding: 20px 30px;
}
.s-box img{
    width: 90px;
}
.s-box h3{
    margin: 4px 0 10px;
    color: var(--main-color);
    font-size: 1.2rem;
}
.s-box p{
    line-height: 1.7;
}